# Libraries

In [1]:
import pandas as pd
from datetime import datetime

# Dataset

In [3]:
df_growth = pd.read_csv('./growth.csv')
#df_growth.head()

         date       growth
0  2001-02-01 -9093.790556
1  2001-03-01 -8511.026132
2  2001-04-01 -7862.378541
3  2001-05-01 -7231.126752
4  2001-06-01 -6575.115716

# Function

In [24]:
def get_growth(date):
    for k in range(len(df_growth)): 
        current_date = datetime.strptime(str(df_growth["date"][k]), '%Y-%m-%d')
        if((date.month == current_date.month) & (date.year == current_date.year)):
            return df_growth["growth"][k]

In [27]:
print("Function get_growth(date) is now available.")

Function get_growth(date) is now available.