# Libraries

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os

# Dataset

In [3]:
df_places = pd.read_csv('./places_courchevel.csv')
df_places.head()

,id,nom,nbAvis,latitude,longitude,shape_gid,gtrip
0,265114,Au Rond-Point Pistes,3,45.414890,6.631468,53660,196714
1,2038947,le p tit drink,18,45.415930,6.635808,53660,187262
2,219808,Courcheneige,184,45.404945,6.633761,53660,187262
3,219805,Le Chabichou,167,45.416412,6.628457,53660,187262
4,293193,Hotel Des Neiges,75,45.415100,6.633700,53660,187262

In [10]:
from datetime import datetime

In [ ]:
year = 2003
month = 7
day = 4
#date_from = datetime.strptime(str(year)+'-'+str(month)+'-'+str(day), '%Y-%m-%d')
#date_to = add_one_month(date_from)